---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables

// Adding in inconsolata-dz
@font-face { font-family: inconsolata-dz; src: url('../assets/fonts/inconsolata-dz.otf'); }
@font-face { font-family: inconsolata-dz; font-weight: bold; src: url('../assets/fonts/inconsolata-dz.otf'); }

$base-font-family: inconsolata-dz, Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #f2f2f2;

// Very dark green
$background-color: #333333;
// 1b1e12

// Light green
$brand-color:      #a4ff7a;

/*
// Light purple
// #937aff;
// Dark purple
// #6655b2;

// Light blue
// #7aa4ff;
// Dark blue
// #5572b2;

// Light pink
// #ff7aa4;
// Dark pink
// #b25572;

// Light green
// $header-link: #a4ff7a;
// Dark green
// $header-link-visited: #72b255;

// $cream-color:       #fff4dd;
*/

$hf-color:       #a4ff7a;
$hf-color-light: lighten($cream-color, 30%);
$hf-color-dark: darken($cream-color, 30%);

$on-palm:          600px;
$on-laptop:      800px;

// Using media queries with like this
/*
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
*/

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/* Import partials from `sass_dir` (defaults to `_sass`) */
@import "base", "layout", "syntax-highlighting";