---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables

// Adding in inconsolata-dz
@font-face { font-family: inconsolata-dz; src: url('../assets/fonts/inconsolata-dz.otf'); }
@font-face { font-family: inconsolata-dz; font-weight: bold; src: url('../assets/fonts/inconsolata-dz.otf'); }

$base-font-family: inconsolata-dz, Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Updated background color
$text-color:       #f2f2f2;
$background-color: #5b653c;
$brand-color:      #FFF4DD;

$grey-color:       #B7CEFF;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)

@import
        "base",
        "layout",
        "syntax-highlighting"
;